<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="domains.member.dtos.MemberDTO" alias="memberDto"/>
        <typeAlias type="domains.member.dtos.MemberDTOClass" alias="memberDtoClass"/>
        <typeAlias type="domains.member.dtos.MemberInfoDTO" alias="memberInfoDto"/>
        <typeAlias type="domains.member.dtos.AuthMemberDTO" alias="authDto"/>
        <typeAlias type="domains.member.dtos.UpdateMemberDTO" alias="updateMemberDto"/>
    </typeAliases>
    <environments default="mydb">
        <environment id="mydb">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="jdbc:mariadb://localhost:3306/memberdb"/>
                <property name="username" value="jdbc"/>
                <property name="password" value="jdbc"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/member-mappings.xml"/>
    </mappers>
</configuration>